@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}
.defaultBtn {
  padding: 10px;
  background-color: #1890ff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 500;
  transition: 0.2s ease-in-out ;
  &:hover{
    background-color: #daa4a4;
  }
}